<html>
  <head>
    <charset="utf-8">
    <title>TavoCalendar basic</title>
    <name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/app/assets/javascripts/calendar/dist/tavo-calendar.css">
    <style>
      body {
          font-family: Arial, Helvetica, sans-serif;
      }

      #my-calendar {
          max-width: 600px;
          max-height: 600px;
      }
    </style>
  </head>
  <body>
    <div id="my-calendar"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" ></script>
    <script type="text/javascript" src="/app/assets/javascripts/calendar/dist/tavo-calendar.js"></script>

    <script>
      let date = new Date()
      let today = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate()

      let dates = []

      <% @links.each do |link| %>
        dates.push("<%= link.date %>")
      <% end %>

      const my_calendar = new TavoCalendar('#my-calendar', {
          date: "2020-06-05",
          highlight: dates,
      })



      document.getElementById('my-calendar')

      document.getElementById('my-calendar').addEventListener('calendar-select', (ev) => {
        document.getElementById("listed_events").innerHTML = ""
        let links = []
        let link_data = ""

        <% @links.each do |link| %>
          link_data = {title: "<%= link.title %>",
                        date: "<%= link.date %>",
                        url: "<%= link.url %>"}

          links.push(link_data)
        <% end %>

        for (var link of links) {
          if(link["date"] == my_calendar.getSelected()){
            var a = document.createElement('a');
            var content = document.createTextNode(link["title"]);
            a.appendChild(content);

            a.title = link["title"]
            a.href  = link["url"]
            document.getElementById("listed_events").appendChild(a)
            document.getElementById("listed_events").appendChild(document.createElement("br"))
          }
        }
      })
    </script>

    <div id="listed_events">
    </div>
  </body>

</html>
